body {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
}


a {
    color: #0088dd;
    text-decoration: none;
}

a:hover {
    color: #111111;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    float: left;
    border: 1px solid #0088dd;
    padding: 20px;
    margin: 20px;
}

.little {
    font-size: 0.75em;
    color: #665544;
    float: right;
}

.css {
    color: #ee3e80;
}

.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 17.5px 35px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 18px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.tour-btn-container {
    padding: 20px;
    text-align: center;
    float: none;
    width: 80%;
}